.footer {
  background-color: #f8f9fa; /* Light background */
  height: 60px; /* Reduced height */
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align elements */
  align-items: center; /* Center vertically */
  padding: 0 20px; /* Add padding for breathing space */
}

/* Footer Branding (Logo and Text) */
.footer-logo img {
  height: 30px; /* Logo height */
  width: 120px; /* Logo width */
}

.footer-rights {
  font-size: 18px; /* Match navbar font size */
  color: #c1272d; /* Red color for text */
}

/* Footer Rights Text */
.footer-rights p {
  margin: 0px;
  font-size: 1rem; /* Base font size */
  text-align: right; /* Align text to the right */
}

/* Media Queries for Responsiveness */
@media (max-width: 875px) {
  .footer {
    padding: 10px; /* Adjust padding */
  }

  .footer-logo img {
    height: 30px; /* Adjust logo height for smaller screens */
    width: auto; /* Maintain aspect ratio */
  }

  .footer-rights {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

/* Adjust font size for smaller screens */
@media (max-width: 570px) {
  .footer {
    flex-direction: column;
    text-align: center;
    height: auto; /* Allow height to adjust */
    padding: 10px; /* Adjust padding */
  }

  .footer-logo img {
    margin-bottom: 10px; /* Add margin for spacing */
  }

  .footer-rights p {
    font-size: 0.85rem; /* Slightly reduce font size */
  }
}

@media (max-width: 380px) {
  .footer-rights p {
    font-size: 0.75rem; /* Further reduce font size */
  }

  label.me-2,
  label.mx-2 {
    font-size: 0.5rem; /* Adjust for small screens */
  }

  input.form-control {
    font-size: 0.5rem; /* Adjust for small screens */
  }

  span.search-icon img {
    width: 15px;
    height: 15px;
  }
  .footer-logo img {
    height: 15px; /* Adjust logo height for smaller screens */
    width: auto; /* Maintain aspect ratio */
  }
}

