h3{
  line-height: 1.5;
}
.or-spacer {
  margin: 10px auto;
  width: 90%;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 5px;
  position: relative;
}

.mask::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px; /* Adjust position to center the shadow */
  margin: 0 auto;
  width: 100%;
  height: 25px;  
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Light shadow */
  background: #ffffff; /* Optional background for the mask */
}

.modal-header {
  background-color: #fdfdfd;
  color: #c1272d;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-bottom: 2px solid #c1272d;
}

.modal-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.b-35 {
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-wrap: wrap;         /* Allow wrapping for smaller screen sizes */
}

.button-35 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 0.75rem; /* Reduced font size */
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  margin: 0.5rem; /* Add margin for spacing between buttons */
  outline: none;
  padding: 0.5rem 1rem; /* Reduced padding for smaller buttons */
  text-align: center;
  text-decoration: none;
  transition: all 0.2s; /* Transition for smooth effect */
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: none; /* No shadow on hover for unclicked buttons */
}

.button-35.active {
  background-color: #fdfdfd; /* Change background color for active button */
  box-shadow: transparent 0 0 0 0, rgb(18 18 18 / 10%) 0 6px 20px;
  transform: scale(1.05); /* Slightly increase size of selected button */
}


button.btn {
  background-color: black;
}
.modal-body {
  display: flex;
  padding: 10px;
}

.image-modal-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.image-preview-container {
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 100%;
  width: 35%;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-container img,
.image-preview-container svg {
  max-width: 100%;
  max-height: 100%;
}

/* Ensure the content section aligns properly */
.content-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
  
}



h3 {
  font-size: 1rem !important;
}


.color-picker-container {
  position: absolute; /* Keep it absolute to allow positioning */
  top:auto !important;
  left: auto !important;
  z-index: 1000; /* Make sure it's on top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add some shadow for visibility */
}

.download-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-section h2 {
  margin-bottom: 25%;
  font-size: 2.5vh;
  margin-top: 25%;
}

.download-section button {
  margin-bottom: 10px;
  width: 100%;
  font-size: 1rem;
}

.download-section button.btn.btn-primary,
.download-section button.btn.btn-success,
.download-section button.btn.btn-warning {
  background-color: #c1272d; /* Set the background color */
  color: white; /* Set the text color */
}

/* Optional: Change button color on hover */
.download-section button.btn.btn-primary:hover,
.download-section button.btn.btn-success:hover,
.download-section button.btn.btn-warning:hover {
  background-color: #a0212a; /* Darken color slightly on hover */
  color: white; /* Keep text color white */
}

.color-container,.bg-color-container {
  margin-top: 10px;
  padding-left: 10px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Reduced gap for better alignment */
}

.color-circle {
  width: 25px; /* Reduced size */
  height: 25px; /* Reduced size */
  border-radius: 50%;
  cursor: pointer;
}


.bg-color-circle {
  width: 25px; /* Reduced size */
  height: 25px; /* Reduced size */
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: add border */
  cursor: pointer;
  margin-top: 10px;
}

.tag {
  display: inline-block; /* Make sure the tag takes up only necessary space */
  background-color: #fdfdfd; /* Light background color for the tags */
  color: black; /* Text color */
  box-shadow: transparent 0 0 0 0, rgb(18 18 18 / 10%) 0 6px 20px;
  padding: 5px 20px; /* Padding to create oval shape */
  border-radius: 50px; /* High border-radius for the oval effect */
  margin: 5px; /* Margin for spacing between tags */
  font-size: 1rem; /* Font size */
  transition: background-color 0.3s ease; /* Smooth background change */
}

.tag:hover {
  background-color: #fdfdfd; /* Change color on hover */
  box-shadow: transparent 0 0 0 0, rgb(18 18 18 / 10%) 0 6px 20px;
  transform: scale(1.05); /* Slightly increase size of selected button */
}


.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #c1272d 0, #8f2d36 100%); /* Background gradient */
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 36px; /* Reduced height */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 12px; /* Reduced padding */
  padding-right: 12px; /* Reduced padding */
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 16px; /* Reduced font size */
}

.button-29:focus {
  box-shadow: #8f2d36 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #8f2d36 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #8f2d36 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #8f2d36 0 3px 7px inset;
  transform: translateY(2px);
}
.slider-container {
  position: relative;
  display: flex; /* Make it a flex container */
  justify-content: center; /* Center the arrows and images */
  align-items: center; /* Vertically align arrows and images */
  margin: 0 auto; /* Center the container itself */
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Optional: set a max width */
}

/* Arrows */
.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  padding: 10px; /* Add padding for a larger click area */
  z-index: 1; /* Ensure arrows are above the images */
}

.arrow:hover {
  opacity: 0.7; /* Slightly dim on hover */
}

/* Other images */
.other-image-container {
  margin: 5px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 1220px) {
  .slider-container {
    width: 100%; /* Allow slider to take more space on smaller screens */
  }
  .other-image-container{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1000px) {
  .image-modal-container{
    display: block;
  }
  .image-preview-container{
    height: 30%;
    width: 100% !important;
    margin-bottom: 5%;
  }
  .content-section{
    height: 67%;
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .image-modal-container{
    display: block;
  }
  .image-preview-container{
    height: 20%;
    width: 100% !important;
    margin-bottom: 5%;
  }
  .content-section{
    height: auto;
    width: 100% !important;
  }
  .modal-content{
    height: auto;
  }
  .button-35{
    font-size: 0.75rem;
    width: 45%;
  }
  .download-section button{
    font-size: 0.75rem;}

  h3, .tag{
    line-height: 1;
    font-size: 0.75rem !important;
  }

}
@media (max-width:380px) {

  .button-35{
    font-size: 0.75rem;
    width: 100%;
  }

}