.or-spacer {
  margin: 10px auto;
  width: 90%;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 5px;
  position: relative;
}

.mask::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px; /* Adjust position to center the shadow */
  margin: 0 auto;
  width: 100%;
  height: 25px;  
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Light shadow */
  background: #ffffff; /* Optional background for the mask */
}

.modal-header {
  background-color: #f8f9fa;
  color: #c1272d;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-bottom: 2px solid #c1272d;
}

.modal-title {
  font-size: 1.75rem;
  font-weight: bold;
}

button.btn {
  background-color: black;
}
.modal-body {
  display: flex;
  padding: 10px;
}

.image-modal-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image-preview-container {
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  width: 35%;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-container img,
.image-preview-container svg {
  max-width: 100%;
  max-height: 100%;
}

/* Ensure the content section aligns properly */
.content-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
  
}



h3 {
  font-size: 1rem !important;
}


.color-picker-container {
  position: absolute; /* Keep it absolute to allow positioning */
  top:auto !important;
  left: auto !important;
  z-index: 1000; /* Make sure it's on top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add some shadow for visibility */
}

.download-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-section h2 {
  margin-bottom: 25%;
  font-size: 2.5vh;
  margin-top: 25%;
}

.download-section button {
  margin-bottom: 10px;
  width: 100%;
  font-size: 1rem;
}

.download-section button.btn.btn-primary,
.download-section button.btn.btn-success,
.download-section button.btn.btn-warning {
  background-color: #c1272d; /* Set the background color */
  color: white; /* Set the text color */
}

/* Optional: Change button color on hover */
.download-section button.btn.btn-primary:hover,
.download-section button.btn.btn-success:hover,
.download-section button.btn.btn-warning:hover {
  background-color: #a0212a; /* Darken color slightly on hover */
  color: white; /* Keep text color white */
}

.color-container,.bg-color-container {
  margin-top: 10px;
  padding-left: 10px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Reduced gap for better alignment */
}

.color-circle {
  width: 25px; /* Reduced size */
  height: 25px; /* Reduced size */
  border-radius: 50%;
  cursor: pointer;
}


.bg-color-circle {
  width: 25px; /* Reduced size */
  height: 25px; /* Reduced size */
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: add border */
  cursor: pointer;
  margin-top: 10px;
}

.tag {
  display: inline-block; /* Make sure the tag takes up only necessary space */
  background-color: #c1272d; /* Light background color for the tags */
  color: #ffffff; /* Text color */
  padding: 5px 20px; /* Padding to create oval shape */
  border-radius: 50px; /* High border-radius for the oval effect */
  margin: 5px; /* Margin for spacing between tags */
  font-size: 1rem; /* Font size */
  transition: background-color 0.3s ease; /* Smooth background change */
}

.tag:hover {
  background-color: #d5d5d5; /* Change color on hover */
}


@media (max-width: 990px) {
  .download-section h2 {
    margin-bottom: 25%;
    font-size: 1.75vh;
    margin-top: 25%;
  }
  
  .download-section button.btn.btn-primary,
  .download-section button.btn.btn-success,
  .download-section button.btn.btn-warning {
    font-size: 1vh;
  }
}

@media (max-width: 770px) {

  
  .download-section h2 {
    margin-bottom: 25%;
    font-size: 1.5vh;
    margin-top: 25%;
  }
  
  button.btn.btn-primary,
  button.btn.btn-success,
  button.btn.btn-warning {
    font-size: 0.75vh;
  }
}

@media (max-width: 355px) {
  .download-section h2 {
    margin-bottom: 25%;
    font-size: 1vh;
    margin-top: 25%;
  }
  
  button.btn.btn-primary,
  button.btn.btn-success,
  button.btn.btn-warning {
    font-size: 0.5vh;
  }

  .color-circle {
    width: 10px; /* Further reduced for smaller screens */
    height: 10px; /* Further reduced for smaller screens */
  }

  .bg-color-circle {
    width: 25px; /* Further reduced for smaller screens */
    height: 25px; /* Further reduced for smaller screens */
  }
}